@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --base-orange: #ff8b28;
  --darker-orange: #ca6f1f;
}

html {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
 scroll-behavior: smooth;
}

body {
  background-color: #f3f2f2;
  /* background-color: var(--base-orange); */

}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--base-orange);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--darker-orange);
  border-radius: 15px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 15px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}